<a href="https://colab.research.google.com/github/ezinneanne/DeepTechReady-Work/blob/main/Business_funding_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
# Import Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
# Mounting gdrive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Set parameters
DATA_DIR = '/content/drive/MyDrive/'

In [8]:
# Reading the dataset
data = pd.read_csv(DATA_DIR + 'Business_Funding Data.csv', encoding='latin1')
# display the first 5 rows
data.head()

,Website Domain,Effective date,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,NaN,2024-03-14T01:00:00+01:00,NaN,NaN,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,NaN,2024-05-31T02:00:00+02:00,NaN,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,NaN,2024-07-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,NaN,2024-05-01T02:00:00+02:00,NaN,NaN,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,NaN,2024-04-11T02:00:00+02:00,NaN,NaN,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...

In [9]:
# Reading the data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             6 non-null      object
 2   Found At                   26 non-null     object
 3   Financing Type             8 non-null      object
 4   Financing Type Normalized  8 non-null      object
 5   Categories                 26 non-null     object
 6   Investors                  13 non-null     object
 7   Investors Count            13 non-null     float64
 8   Amount                     26 non-null     object
 9   Amount Normalized          26 non-null     int64
 10  Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.4+ KB

## Finding Missing Values in the Dataset

In [10]:
len(data) #total number of entries

26

In [11]:
# Determine the percentage of missing values in each column
missing_values = data.isnull().sum() / len(data) * 100
print(missing_values) #print missing values% in each column

Website Domain                0.000000
Effective date               76.923077
Found At                      0.000000
Financing Type               69.230769
Financing Type Normalized    69.230769
Categories                    0.000000
Investors                    50.000000
Investors Count              50.000000
Amount                        0.000000
Amount Normalized             0.000000
Source Urls                   0.000000
dtype: float64

In [15]:
# Find unique items in the Effective date column
data['Effective date'].unique()

array([nan, '2024-04-18T02:00:00+02:00', '2024-04-16T02:00:00+02:00',
       '2024-06-20T02:00:00+02:00', '2024-04-24T02:00:00+02:00',
       '2024-06-26T02:00:00+02:00', '2024-06-27T02:00:00+02:00'],
      dtype=object)

In [16]:
# Delete the column Effective date
data.drop(columns=['Effective date'], inplace=True)
data

,Website Domain,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,2024-03-14T01:00:00+01:00,NaN,NaN,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,2024-05-31T02:00:00+02:00,NaN,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,2024-07-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,2024-05-01T02:00:00+02:00,NaN,NaN,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,2024-04-11T02:00:00+02:00,NaN,NaN,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...
5,swtchenergy.com,2024-04-24T02:00:00+02:00,Series B,series_b,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
6,carnow.com,2024-04-16T02:00:00+02:00,NaN,NaN,"[""debt_financing""]",runwaygrowth.com,1.0,$40 million,40000000,https://www.prnewswire.com/news-releases/runwa...
7,databricks.com,2024-08-07T02:00:00+02:00,Series I,series_i,"[""series_i"", ""venture""]",NaN,NaN,$685 million,685000000,https://iteuropa.com/news/large-language-model...
8,anthropic.com,2024-07-08T02:00:00+02:00,NaN,NaN,[],damachotelsandresorts.com,1.0,$50mn,50000000,https://www.arabianbusiness.com/industries/tec...
9,ey.com,2024-04-18T02:00:00+02:00,NaN,NaN,[],NaN,NaN,AU$10.7M,6865000,https://www.biometricupdate.com/202404/ey-secu...
10,openpipe.ai,2024-03-26T01:00:00+01:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,$6.7 million,6700000,https://www.geekwire.com/2024/seattle-startup-...
11,canva.com,2024-05-09T02:00:00+02:00,NaN,NaN,[],surocap.com,1.0,$2 billion,2000000000,https://www.investing.com/news/stock-market-ne...
12,syntetica.co,2024-07-16T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,Û4.2 million,4581000,https://tech.eu/2024/07/16/syntetica-raises-eu...
13,zf.com,2024-07-15T02:00:00+02:00,NaN,NaN,[],eib.org,1.0,Û425 million,464695000,https://thebrakereport.com/eib-funds-zf-brakin...
14,sparelabs.com,2024-06-05T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$10M,10000000,https://www.finsmes.com/2024/06/spare-receives...
15,e-zinc.ca,2024-06-27T02:00:00+02:00,Series A2,series_a2,"[""series_a2"", ""venture""]",NaN,NaN,USD 31M,31000000,https://www.explorebit.io/article/e-Zinc%20Rai...
16,biointelligence.com,2024-04-25T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$5M,5000000,https://www.prweb.com/releases/biointelligence...
17,claritisoftware.com,2024-04-10T02:00:00+02:00,NaN,NaN,"[""private_equity""]",vistaragrowth.com,1.0,$24.6 million CAD,18139000,https://betakit.com/government-software-provid...
18,heylist.com,2024-06-18T02:00:00+02:00,NaN,NaN,"[""private_equity""]",accelia.vc,1.0,$1.6M,1600000,https://www.newswire.ca/news-releases/heylist-...
19,qohash.com,2024-04-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]","edc.ca, desjardinscapital.com, fondsftq.com",3.0,$17.4 million,17400000,https://qohash.com/qohash-secures-17-4-million...
20,topicflow.com,2024-06-25T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,CAD$2.5M,1823000,https://www.finsmes.com/2024/06/topicflow-rais...
21,claritisoftware.com,2024-06-26T02:00:00+02:00,NaN,NaN,"[""private_equity""]",cibc.com,1.0,$10 million,10000000,https://www.marketscreener.com/quote/stock/CAN...
22,biointelligence.com,2024-04-30T02:00:00+02:00,Seed,seed,"[""seed"", ""venture""]",NaN,NaN,$5 million CAD,3653000,https://betakit.com/biointelligence-technologi...
23,gaiia.com,2024-06-27T02:00:00+02:00,Series A,series_a,"[""series_a"", ""venture""]",inovia.vc,1.0,US$13.2M,13200000,https://financialpost.com/globe-newswire/gaiia...
24,sinnstudio.com,2024-05-22T02:00:00+02:00,NaN,NaN,"[""private_equity"", ""venture""]",NaN,NaN,$2.5M,2500000,https://www.finsmes.com/2024/05/sinn-studio-ra...
25,topicflow.com,2024-06-25T02:00:00+02:00,NaN,NaN,[],NaN,NaN,$2.5m,2500000,https://www.streetinsider.com/Accesswire/Topic...

In [17]:
data.columns

Index(['Website Domain', 'Found At', 'Financing Type',
       'Financing Type Normalized', 'Categories', 'Investors',
       'Investors Count', 'Amount', 'Amount Normalized', 'Source Urls'],
      dtype='object')

In [18]:
# Delete the column Website domain
data.drop(columns=['Website Domain'], inplace=True)

# Delete the column Found At
data.drop(columns=['Found At'], inplace=True)

# Delete the column Financing Type Normalized
data.drop(columns=['Financing Type Normalized'], inplace=True)

# Delete the column Amount
data.drop(columns=['Amount'], inplace=True)

# Delete the column Source Urls
data.drop(columns=['Source Urls'], inplace=True)

In [19]:
data.columns

Index(['Financing Type', 'Categories', 'Investors', 'Investors Count',
       'Amount Normalized'],
      dtype='object')

In [20]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Financing Type     8 non-null      object
 1   Categories         26 non-null     object
 2   Investors          13 non-null     object
 3   Investors Count    13 non-null     float64
 4   Amount Normalized  26 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ KB

,Financing Type,Categories,Investors,Investors Count,Amount Normalized
0,NaN,[],NaN,NaN,1900000000
1,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,522700000
2,NaN,"[""private_equity""]",NaN,NaN,53671000
3,NaN,[],stackcapitalgroup.com,1.0,8000000
4,NaN,[],chevychasetrust.com,1.0,1960000

In [21]:
data['Investors Count'].fillna(data['Investors Count'].median(), inplace=True)  # filling investor count with the median

<ipython-input-21-e95af1fcb2ed>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Investors Count'].fillna(data['Investors Count'].median(), inplace=True)  # filling investor count with the median

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Financing Type     8 non-null      object
 1   Categories         26 non-null     object
 2   Investors          13 non-null     object
 3   Investors Count    26 non-null     float64
 4   Amount Normalized  26 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ KB

In [23]:
data['Financing Type'].fillna('Unknown', inplace=True)  # Categorical column
data['Investors'].fillna('Unknown', inplace=True)

<ipython-input-23-98146e0802e3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Financing Type'].fillna('Unknown', inplace=True)  # Categorical column
<ipython-input-23-98146e0802e3>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Investors'].fillna('Unknown', inplace=True)

In [26]:
data.info()
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Financing Type     26 non-null     object
 1   Categories         26 non-null     object
 2   Investors          26 non-null     object
 3   Investors Count    26 non-null     float64
 4   Amount Normalized  26 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ KB

,Financing Type,Categories,Investors,Investors Count,Amount Normalized
0,Unknown,[],Unknown,1.0,1900000000
1,Unknown,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,522700000
2,Unknown,"[""private_equity""]",Unknown,1.0,53671000
3,Unknown,[],stackcapitalgroup.com,1.0,8000000
4,Unknown,[],chevychasetrust.com,1.0,1960000
5,Series B,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,27200000
6,Unknown,"[""debt_financing""]",runwaygrowth.com,1.0,40000000
7,Series I,"[""series_i"", ""venture""]",Unknown,1.0,685000000
8,Unknown,[],damachotelsandresorts.com,1.0,50000000
9,Unknown,[],Unknown,1.0,6865000
10,Seed,"[""seed"", ""venture""]",Unknown,1.0,6700000
11,Unknown,[],surocap.com,1.0,2000000000
12,Seed,"[""seed"", ""venture""]",Unknown,1.0,4581000
13,Unknown,[],eib.org,1.0,464695000
14,Unknown,[],Unknown,1.0,10000000
15,Series A2,"[""series_a2"", ""venture""]",Unknown,1.0,31000000
16,Unknown,[],Unknown,1.0,5000000
17,Unknown,"[""private_equity""]",vistaragrowth.com,1.0,18139000
18,Unknown,"[""private_equity""]",accelia.vc,1.0,1600000
19,Unknown,"[""private_equity""]","edc.ca, desjardinscapital.com, fondsftq.com",3.0,17400000
20,Seed,"[""seed"", ""venture""]",Unknown,1.0,1823000
21,Unknown,"[""private_equity""]",cibc.com,1.0,10000000
22,Seed,"[""seed"", ""venture""]",Unknown,1.0,3653000
23,Series A,"[""series_a"", ""venture""]",inovia.vc,1.0,13200000
24,Unknown,"[""private_equity"", ""venture""]",Unknown,1.0,2500000
25,Unknown,[],Unknown,1.0,2500000

## Handle Duplicates

In [25]:
duplicates = data.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

Number of duplicate rows: 0

## Removing Outliers

In [30]:
# Define a function to calculate Z-scores and remove outliers
def remove_outliers_manual(data, column):
    # Calculate mean and standard deviation
    mean = data[column].mean()
    print(f"data: {data}")
    print(f"Column: {column}")
    print(f"Mean: {mean}")
    std_dev = data[column].std()
    print(f"Standard deviation: {std_dev}")

    # Calculate Z-scores manually
    z_scores = np.abs((data[column] - mean) / std_dev)
    print(f"Z scores: {z_scores}")

    # Filter the rows with Z-scores less than 3
    data_no_outliers = data[z_scores < 3]
    print(f"Number of outliers in data: {data_no_outliers}")

    return data_no_outliers


data = remove_outliers_manual(data, 'Investors Count')
data = remove_outliers_manual(data, 'Amount Normalized')
data

data:    Financing Type                     Categories  \
2         Unknown             ["private_equity"]
3         Unknown                             []
4         Unknown                             []
5        Series B        ["series_b", "venture"]
6         Unknown             ["debt_financing"]
7        Series I        ["series_i", "venture"]
8         Unknown                             []
9         Unknown                             []
10           Seed            ["seed", "venture"]
12           Seed            ["seed", "venture"]
13        Unknown                             []
14        Unknown                             []
15      Series A2       ["series_a2", "venture"]
16        Unknown                             []
17        Unknown             ["private_equity"]
18        Unknown             ["private_equity"]
19        Unknown             ["private_equity"]
20           Seed            ["seed", "venture"]
21        Unknown             ["private_equity"]
22           Seed            ["seed", "venture"]
23       Series A        ["series_a", "venture"]
24        Unknown  ["private_equity", "venture"]
25        Unknown                             []

                                      Investors  Investors Count  \
2                                       Unknown              1.0
3                         stackcapitalgroup.com              1.0
4                           chevychasetrust.com              1.0
5                alantra.com, blueearth.capital              2.0
6                              runwaygrowth.com              1.0
7                                       Unknown              1.0
8                     damachotelsandresorts.com              1.0
9                                       Unknown              1.0
10                                      Unknown              1.0
12                                      Unknown              1.0
13                                      eib.org              1.0
14                                      Unknown              1.0
15                                      Unknown              1.0
16                                      Unknown              1.0
17                            vistaragrowth.com              1.0
18                                   accelia.vc              1.0
19  edc.ca, desjardinscapital.com, fondsftq.com              3.0
20                                      Unknown              1.0
21                                     cibc.com              1.0
22                                      Unknown              1.0
23                                    inovia.vc              1.0
24                                      Unknown              1.0
25                                      Unknown              1.0

    Amount Normalized
2            53671000
3             8000000
4             1960000
5            27200000
6            40000000
7           685000000
8            50000000
9             6865000
10            6700000
12            4581000
13          464695000
14           10000000
15           31000000
16            5000000
17           18139000
18            1600000
19           17400000
20            1823000
21           10000000
22            3653000
23           13200000
24            2500000
25            2500000
Column: Investors Count
Mean: 1.1304347826086956
Standard deviation: 0.4576965872801601
Z scores: 2     0.284981
3     0.284981
4     0.284981
5     1.899873
6     0.284981
7     0.284981
8     0.284981
9     0.284981
10    0.284981
12    0.284981
13    0.284981
14    0.284981
15    0.284981
16    0.284981
17    0.284981
18    0.284981
19    4.084726
20    0.284981
21    0.284981
22    0.284981
23    0.284981
24    0.284981
25    0.284981
Name: Investors Count, dtype: float64
Number of outliers in data:    Financing Type                     Categories  \
2         Unknown             ["private_equity"]
3         Unknown                             []
4         Unknown                             []
5        Series B        ["series_b", "venture"]
6         Unknown             ["debt_financing"]
7        Series I        ["series_i", "venture"]
8         Unknown                             []
9         Unknown                             []
10           Seed            ["seed", "venture"]
12           Seed            ["seed", "venture"]
13        Unknown                             []
14        Unknown                             []
15      Series A2       ["series_a2", "venture"]
16        Unknown                             []
17        Unknown             ["private_equity"]
18        Unknown             ["private_equity"]
20           Seed            ["seed", "venture"]
21        Unknown             ["private_equity"]
22           Seed            ["seed", "venture"]
23       Series A        ["series_a", "venture"]
24        Unknown  ["private_equity", "venture"]
25        Unknown                             []

                         Investors  Investors Count  Amount Normalized
2                          Unknown              1.0           53671000
3            stackcapitalgroup.com              1.0            8000000
4              chevychasetrust.com              1.0            1960000
5   alantra.com, blueearth.capital              2.0           27200000
6                 runwaygrowth.com              1.0           40000000
7                          Unknown              1.0          685000000
8        damachotelsandresorts.com              1.0           50000000
9                          Unknown              1.0            6865000
10                         Unknown              1.0            6700000
12                         Unknown              1.0            4581000
13                         eib.org              1.0          464695000
14                         Unknown              1.0           10000000
15                         Unknown              1.0           31000000
16                         Unknown              1.0            5000000
17               vistaragrowth.com              1.0           18139000
18                      accelia.vc              1.0            1600000
20                         Unknown              1.0            1823000
21                        cibc.com              1.0           10000000
22                         Unknown              1.0            3653000
23                       inovia.vc              1.0           13200000
24                         Unknown              1.0            2500000
25                         Unknown              1.0            2500000
data:    Financing Type                     Categories  \
2         Unknown             ["private_equity"]
3         Unknown                             []
4         Unknown                             []
5        Series B        ["series_b", "venture"]
6         Unknown             ["debt_financing"]
7        Series I        ["series_i", "venture"]
8         Unknown                             []
9         Unknown                             []
10           Seed            ["seed", "venture"]
12           Seed            ["seed", "venture"]
13        Unknown                             []
14        Unknown                             []
15      Series A2       ["series_a2", "venture"]
16        Unknown                             []
17        Unknown             ["private_equity"]
18        Unknown             ["private_equity"]
20           Seed            ["seed", "venture"]
21        Unknown             ["private_equity"]
22           Seed            ["seed", "venture"]
23       Series A        ["series_a", "venture"]
24        Unknown  ["private_equity", "venture"]
25        Unknown                             []

                         Investors  Investors Count  Amount Normalized
2                          Unknown              1.0           53671000
3            stackcapitalgroup.com              1.0            8000000
4              chevychasetrust.com              1.0            1960000
5   alantra.com, blueearth.capital              2.0           27200000
6                 runwaygrowth.com              1.0           40000000
7                          Unknown              1.0          685000000
8        damachotelsandresorts.com              1.0           50000000
9                          Unknown              1.0            6865000
10                         Unknown              1.0            6700000
12                         Unknown              1.0            4581000
13                         eib.org              1.0          464695000
14                         Unknown              1.0           10000000
15                         Unknown              1.0           31000000
16                         Unknown              1.0            5000000
17               vistaragrowth.com              1.0           18139000
18                      accelia.vc              1.0            1600000
20                         Unknown              1.0            1823000
21                        cibc.com              1.0           10000000
22                         Unknown              1.0            3653000
23                       inovia.vc              1.0           13200000
24                         Unknown              1.0            2500000
25                         Unknown              1.0            2500000
Column: Amount Normalized
Mean: 65822136.36363637
Standard deviation: 168956533.6791841
Z scores: 2     0.071919
3     0.342231
4     0.377980
5     0.228592
6     0.152833
7     3.664717
8     0.093646
9     0.348949
10    0.349925
12    0.362467
13    2.360802
14    0.330393
15    0.206101
16    0.359987
17    0.282221
18    0.380110
20    0.378791
21    0.330393
22    0.367959
23    0.311454
24    0.374784
25    0.374784
Name: Amount Normalized, dtype: float64
Number of outliers in data:    Financing Type                     Categories  \
2         Unknown             ["private_equity"]
3         Unknown                             []
4         Unknown                             []
5        Series B        ["series_b", "venture"]
6         Unknown             ["debt_financing"]
8         Unknown                             []
9         Unknown                             []
10           Seed            ["seed", "venture"]
12           Seed            ["seed", "venture"]
13        Unknown                             []
14        Unknown                             []
15      Series A2       ["series_a2", "venture"]
16        Unknown                             []
17        Unknown             ["private_equity"]
18        Unknown             ["private_equity"]
20           Seed            ["seed", "venture"]
21        Unknown             ["private_equity"]
22           Seed            ["seed", "venture"]
23       Series A        ["series_a", "venture"]
24        Unknown  ["private_equity", "venture"]
25        Unknown                             []

                         Investors  Investors Count  Amount Normalized
2                          Unknown              1.0           53671000
3            stackcapitalgroup.com              1.0            8000000
4              chevychasetrust.com              1.0            1960000
5   alantra.com, blueearth.capital              2.0           27200000
6                 runwaygrowth.com              1.0           40000000
8        damachotelsandresorts.com              1.0           50000000
9                          Unknown              1.0            6865000
10                         Unknown              1.0            6700000
12                         Unknown              1.0            4581000
13                         eib.org              1.0          464695000
14                         Unknown              1.0           10000000
15                         Unknown              1.0           31000000
16                         Unknown              1.0            5000000
17               vistaragrowth.com              1.0           18139000
18                      accelia.vc              1.0            1600000
20                         Unknown              1.0            1823000
21                        cibc.com              1.0           10000000
22                         Unknown              1.0            3653000
23                       inovia.vc              1.0           13200000
24                         Unknown              1.0            2500000
25                         Unknown              1.0            2500000

,Financing Type,Categories,Investors,Investors Count,Amount Normalized
2,Unknown,"[""private_equity""]",Unknown,1.0,53671000
3,Unknown,[],stackcapitalgroup.com,1.0,8000000
4,Unknown,[],chevychasetrust.com,1.0,1960000
5,Series B,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,27200000
6,Unknown,"[""debt_financing""]",runwaygrowth.com,1.0,40000000
8,Unknown,[],damachotelsandresorts.com,1.0,50000000
9,Unknown,[],Unknown,1.0,6865000
10,Seed,"[""seed"", ""venture""]",Unknown,1.0,6700000
12,Seed,"[""seed"", ""venture""]",Unknown,1.0,4581000
13,Unknown,[],eib.org,1.0,464695000
14,Unknown,[],Unknown,1.0,10000000
15,Series A2,"[""series_a2"", ""venture""]",Unknown,1.0,31000000
16,Unknown,[],Unknown,1.0,5000000
17,Unknown,"[""private_equity""]",vistaragrowth.com,1.0,18139000
18,Unknown,"[""private_equity""]",accelia.vc,1.0,1600000
20,Seed,"[""seed"", ""venture""]",Unknown,1.0,1823000
21,Unknown,"[""private_equity""]",cibc.com,1.0,10000000
22,Seed,"[""seed"", ""venture""]",Unknown,1.0,3653000
23,Series A,"[""series_a"", ""venture""]",inovia.vc,1.0,13200000
24,Unknown,"[""private_equity"", ""venture""]",Unknown,1.0,2500000
25,Unknown,[],Unknown,1.0,2500000

### Encoding Categorical Columns

In [31]:
# initialize label encoder
label_encoder = LabelEncoder()

# Applying label encoding on the categorical columns
data['Financing Type'] = label_encoder.fit_transform(data['Financing Type'])
data['Categories'] = data['Categories'].apply(lambda x: label_encoder.fit_transform(eval(x))[0] if x != '[]' else -1)  # Handle empty lists
data['Investors'] = label_encoder.fit_transform(data['Investors'])

###  Standardizing numerical columns

In [32]:
# intialize standard scaler
scaler = StandardScaler()

# standardize the numerical columns
data['Investors Count'] = scaler.fit_transform(data[['Investors Count']])
data['Amount Normalized'] = scaler.fit_transform(data[['Amount Normalized']])

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 2 to 25
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Financing Type     21 non-null     int64
 1   Categories         21 non-null     int64
 2   Investors          21 non-null     int64
 3   Investors Count    21 non-null     float64
 4   Amount Normalized  21 non-null     float64
dtypes: float64(2), int64(3)
memory usage: 1008.0 bytes

In [34]:
data

    Financing Type  Categories  Investors  Investors Count  Amount Normalized
2                4           0          0        -0.223607           0.178585
3                4          -1          9        -0.223607          -0.291957
4                4          -1          3        -0.223607          -0.354187
5                3           0          2         4.472136          -0.094142
6                4           0          8        -0.223607           0.037734
8                4          -1          5        -0.223607           0.140763
9                4          -1          0        -0.223607          -0.303651
10               0           0          0        -0.223607          -0.305351
12               0           0          0        -0.223607          -0.327183
13               4          -1          6        -0.223607           4.413310
14               4          -1          0        -0.223607          -0.271351
15               2           0          0        -0.223607          -0.054991
16               4          -1          0        -0.223607          -0.322866
17               4           0         10        -0.223607          -0.187496
18               4           0          1        -0.223607          -0.357896
20               0           0          0        -0.223607          -0.355598
21               4           0          4        -0.223607          -0.271351
22               0           0          0        -0.223607          -0.336744
23               1           0          7        -0.223607          -0.238382
24               4           0          0        -0.223607          -0.348623
25               4          -1          0        -0.223607          -0.348623

## My observations from exploring the data

When I explored the dataset;


*   I noticed it was a small dataset of about 26 entries
*   Some of the columns had missing values
*   Some columns had irrelevant data which would be used for modeling(like source urls).

## The steps I took to clean, preprocess and transform the data

To clean and preprocess the data, I made separate sections namely finding missing values, handle duplicates, remove outliers and tansforming with encoding and standardization.

### Finding missing values
I confirmed the total number of entries expected to be in each column. I determined the percentages of missing values. ***Effective date*** had the highest at a 76%. I explored further the missing values in ***Effective date*** by checking for unique items then I deleted it, the unique items were only about seven values. Then, I began to think on what the dataset could be used for so i could preprocess it better.
I deleted columns which I believed would not be ideal if am training the model for business funding prediction and the columns that I felt were relevant, I filled it up.

### Handling duplicates
Following the example tutorial given on Cars, I also proceeded to remove duplicates but there no duplicates.

### Removing outliers
I borrowed the `remove_outliers_manual` function in the Cars dataset tutorial and used it to remove outliers on the columns which I would be using for training.

### Transforming the data
Finally, I transformed the data using label encoding, and standardization.

## Justification for each technique or decision applied to the dataset

I deleted these columns namely `Effective date` because it had too many missing values and I had decided the dataset would be ideal for business funding prediction so I went on to delete other columns which I believed would be relevant for that; `Website domain`, `Found At`, `Financing Type Normalized`, `Amount`, and `Source Urls`. I had deleted `Financing Type Normalized` and `Amount` because they were redundant.

## Reflections on importance of preprocessing in data analysis
Preprocessing is important as it helps to prepare the data for modeling. With preprocessing, you get to ensure the data is clean, remove outliers and transform it to avoid any possible errors which could arise from the dataset during training.